.list {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul {
    width: 200%;
}

.knopje {
    float: right;
    border: none;
    background-color: transparent;
}

.margin {
    margin-left: 5px;
}

.item {
    margin: 1rem 0;
    padding: 20px;
    width: 200%;
}

.image {
    width: 100%;
    height: 20rem;
    overflow: hidden;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
}

.content {
    text-align: center;
    padding: 1rem;
}

.content h3 {
    font: inherit;
    color: #00407A;
    font-weight: bold;
}

.actions {
    padding: 1.5rem;
    text-align: center;
}

.actions button {
    font: inherit;
    cursor: pointer;
    color: #00407A;
    border: 1px solid #00407A;
    background-color: transparent;
    padding: 0.5rem 0.5rem;
    border-radius: 4px;
}

.actions button:hover,
.actions button:active {
    background-color: #ffe2ed;
}