.card {
    background-color: #00407a;
    border-radius: 6px;
    color: white;
    width:200%;
}

.start {
    background-color: #1fabd5;
    height: 50px;
    position: relative;
    text-align: center;

}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
 }